@use "@/scss/util" as u;

.booking-widget-container {
	height: 600px;
	min-height: 100px;
}

.booking-widget-container #timelyWidget {
	max-width: 100vw;

	@include u.breakpoint(tablet) {
		border-radius: var(--radius-5);
		max-width: calc(100vw - var(--space-9));
		box-shadow: var(--shadow-5);
	}
}
