@use "@/scss/util/" as u;
@use "@/scss/util/mixins/fluid-sizing" as fluid;

.service {
	&__image-container {
		position: relative;

		@include u.breakpoint-down(phone-landscape) {
			margin-block: var(--space-7);
		}
	}

	&__image {
		position: absolute;
		inset: 0;
		z-index: -1;

		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--space-5);

		@include fluid.tracking(7, 8);

		text-transform: uppercase;
		text-align: center;

		@include u.breakpoint(phone-landscape) {
			&::before,
			&::after {
				flex: 1;
				content: "";
				height: 1px;
				background-color: var(--border-accent-3);
			}
		}

		@include u.breakpoint(tablet) {
			margin-block-end: var(--space-7);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--space-2);

		padding: calc(var(--space-lr) / 2);

		height: 100%;
		background: linear-gradient(to right, hsl(0 0% 0% / 0.6), hsl(0 0% 0% / 0.1) 80%);
	}

	&__paragraph {
		max-width: max(50%, 500px);
		color: white;
		text-shadow: 1px 1px 0 hsl(0 0% 0% / 0.8);
	}

	&__treatments-list {
		list-style: none;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		gap: var(--space-3);
	}
}
