@use "@/scss/util" as u;
@use "@/scss/util/mixins/fluid-sizing" as fluid;

#home {
  & .text-with-image__image {
    object-position: 50% 70%;
  }
}

.offer {
  display: none;

  flex-direction: column;
  gap: var(--space-1);

  margin-block-start: var(--space-9);
  padding: var(--space-5) var(--space-6);
  
  border-style: solid;
  border-width: 1px;
  border-color: var(--solid-accent-1);
  border-radius: var(--radius-3);
  background-color: var(--background-0);

  &__heading {
    @include fluid.typography(6, 7);
    margin-block-end: var(--space-4);
  }

  &__cta {
    background-color: var(--text-accent-2);
    color: var(--background-0);

    &:hover {
      background-color: var(--solid-accent-1);
    }
  }

  &--is-active {
    display: flex;
  }
}

.treatments-summary {
  margin-block-end: 0;
  padding-block: var(--space-9);
  background-color: var(--background-accent-2);

	&__heading {
		margin-block-end: var(--space-5);
	}

	&__list {
		list-style: none;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

		gap: var(--space-4);
	}

	&__list-item {
		flex: 1;
	}
}

.summary {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	height: 100%;

	border-style: solid;
	border-width: 1px;
	border-color: var(--border-1);
	border-radius: var(--radius-4);

	background-color: var(--background-0);

  transition-property: border-color, box-shadow;
  transition-duration: 2000ms;
  
	&:hover {
    border-color: var(--solid-accent-1);
    box-shadow: var(--shadow-3);
    transition-duration: 800ms;

		& .summary__heading-container {
			background-color: var(--grey-a11);
		}
		& .summary__heading {
			transform: translateY(0);
      transition-delay: 0;
		}
		& .summary__heading::after {
			transform: scaleX(1);
		}
		& .summary__subheading {
			opacity: 1;
      transition-delay: 200ms;
		}
	}

	&__header {
		position: relative;
	}

	&__heading-container {
		position: absolute;
		inset: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		background-color: var(--grey-a10);

		transition-property: background-color;
		transition-duration: 1200ms;
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: var(--space-2);

		@include fluid.typography(4, 5);
		text-align: center;
		text-transform: uppercase;
		text-wrap: balance;
		color: white;

    @include u.breakpoint(tablet) { 
      transform: translateY(35%);
      
      transition-property: transform;
      transition-duration: 400ms;
      transition-delay: 200ms;
    }
	}
	&__heading::after {
		content: "";

		width: 100%;
		height: 1px;

		background-color: white;

    @include u.breakpoint(tablet) {
      transform: scaleX(0);

      transition-property: transform;
      transition-duration: 400ms;
    }
	}

	&__subheading {
		@include fluid.typography(3, 4);
		font-family: var(--sans-serif);
		color: white;

    @include u.breakpoint(laptop) {
      opacity: 0;
  
      transition-property: opacity;
      transition-duration: 800ms;
      transition-delay: 0;
    }
	}

	&__image {
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	&__body {
		flex: 1;

		padding: var(--space-4);
		@include fluid.typography(2, 3);
	}
}

.reviews {
  &__heading {
    margin-block-end: var(--space-5);
  }

  &__list {
    list-style: none;

    display: grid;
    gap: var(--space-4);

    @include u.breakpoint(phone-landscape) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.review {
  display: flex;
  flex-direction: column;

  padding: var(--space-4);
  height: 100%;

  border-style: solid;
  border-width: 1px;
  border-color: var(--border-1);
  border-radius: var(--radius-3);

  background-color: var(--background-0);

  transition-property: border-color, box-shadow;
  transition-duration: 2000ms;
  
	&:hover {
    border-color: var(--solid-accent-1);
    box-shadow: var(--shadow-3);
    transition-duration: 800ms;
  }

  &__icon {
    @include fluid.typography(4, 6);
    margin-block-end: var(--space-2);
    color: var(--solid-accent-1);
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-inline: var(--space-2);
    padding-inline: var(--space-4);
    border-left: solid 2px var(--solid-accent-1);
  }
  
  &__body {
    flex: 1;
    padding-block-end: var(--space-2);

    @include fluid.typography(2, 3);
    text-wrap: pretty;
  }
  
  &__author {
    margin-block-start: var(--space-1);

    @include fluid.typography(1, 2);
    font-family: var(--sans-serif);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    color: var(--solid-accent-2);
  }
}
