@use "@/scss/util/mixins/fluid-sizing" as fluid;
@use "@/scss/util" as u;

.nav {
	&__list {
		list-style: none;
		display: flex;
    align-items: center;
		gap: var(--space-5);

		padding-block: var(--space-2);

		&--sub-list {
			flex-direction: column;
			gap: 0;
			padding-block: 0;

			border: solid 1px var(--border-1);
			background-color: var(--background-2);
		}
	}
  &__content {
    position: absolute;
    top: 100%;
  }
  
  &__link,
  &__trigger {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    
		border-style: solid;
		border-width: 2px;
    
    @include fluid.typography(2, 3);
		font-weight: var(--fw-medium);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
		color: white;
    background-color: transparent;
		border-color: transparent;
    border-radius: var(--radius-4);

    opacity: 0.75;

    transition-property: opacity;
    transition-duration: 900ms;

		&:hover {
      transition-duration: 300ms;
      opacity: 1;
      color: white;
		}

		&--active,
    &--active:hover {
      opacity: 1;
		}
	}

  &__link {
    position: relative;
    padding-bottom: var(--space-1);

    &::after {
      content: "";
      position: absolute;
      inset: 100% 0 0 0;

      height: 1.5px;

      background-color: white;

      transform: scaleX(0);
      
      transition-property: transform;
      transition-duration: 800ms;
    }
    
    &:hover::after,
    &--active::after {
      transition-duration: 400ms;
      transform: scaleX(1);
    }

    &--cta {
      padding: var(--space-1) var(--space-3);

      border-style: solid;
      border-width: 2px;
      border-color: white;
      border-radius: var(--radius-2);

      background-color: var(--grey-a6);
      backdrop-filter: blur(12px);

      transition-property: color, background-color;
      transition-duration: 800ms;
      
      &:hover {
        color: var(--grey-a11);
        background-color: white;
        transition-duration: 400ms;
      }

      &::after {
        content: none;
      }
    }
  }

  &__caret {
    transition-property: transform;
    transition-duration: 200ms;

    .nav__trigger[data-state="open"] & {
      transform: rotate(-180deg);
    }
  }
}

.nav--mobile {
  padding-inline: var(--space-5);
}
.nav--mobile .nav {
  &__list {
    flex-direction: column;
    align-items: flex-start;
  }

  &__list-item {
    &--dropdown {
      position: relative;
    }
  }

  &__content {
    left: 100%;
    top: 0;
  }
}

