@use "@/scss/util" as u;

.nav-dialog {
	&__action {
    display: block;

		border: none;
    background-color: transparent;

		display: flex;
    color: white;
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__overlay {
		position: fixed;
		inset: 0;
		z-index: 1;

		height: 100%;
		width: 100%;

		background-color: var(--grey-a3);
    backdrop-filter: blur(3px);

    &[data-state="open"] {
			animation: fadeIn 1600ms ease;
		}

		&[data-state="closed"] {
			animation: fadeOut 400ms ease;
		}
	}

  &__header {
    padding-block: var(--space-5);
    justify-items: flex-end;
  }

	&__content {
		position: fixed;
    inset: 0 0 auto auto;
		z-index: 1;

		height: 100%;

		background-color: hsl(265 0% 14%);
    box-shadow: var(--shadow-3);

    &[data-state="open"] {
      animation: enterFromRight 300ms ease;
		}

		&[data-state="closed"] {
      animation: exitToRight 300ms ease;
		}
	}
}
